.cardDiv{
    /* width: 40%; */
    margin-bottom: 5vh;
    /* margin-left: 6.5%; */
    height: 250px;
    padding: 5px;
} 

.blogDisplayDiv {
    width: 70%;
    margin: auto;
    margin-top: 3em;
}



/* blog Edit/Remove/Post button */
.cardDiv button {
    font-size: 15px;
    color: #0000EE ;
}

.cardDiv h2 {
    font-size: 23px;
    /* font-weight: bold; */
    font-family: Quicksand;  
    /* font-family: Roboto,sans-serif; */
}

.cardDiv p {
    font-size: 17px;
    padding-top: 5px;
    /* color: #424242; */
    color: #212121;
    /* color: red; */
    font-family: Quicksand;  
    line-height: 1.7em;
}

.cardDiv .cardActionArea,
.MuiCardContent-root-96 {
    height: 200px;
    overflow-y: scroll;
}

.cardButtonArea button, a {
    color: rgba(0,0,0,.54);
}

.cardButtonArea button:hover, a:hover {
    background-color: white;
    color: rgb(255,94,28);
    text-decoration: none;
}

.MuiCardActionArea-root-91 {
    width: 100%;
}

.postMainDiv {
    width: 70%;
    margin: auto;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 720px) {
    .cardDiv{
        width: 100%;
    }
}

@media (max-width: 769px){

}

@media (min-width: 721px) {
    .cardDiv{
        width: 40%;
        margin-left: 6.5%;
    }
}