.cardDiv{
    /* width: 40%; */
    margin-bottom: 5vh;
    /* margin-left: 6.5%; */
    height: 250px;
    padding: 5px;
} 

.blogDisplayDiv {
    width: 70%;
    margin: auto;
    margin-top: 3em;
}

/* blog Edit/Remove/Post button */
.cardDiv button {
    font-size: 15px;
    color: #0000EE ;
}

.cardDiv h2 {
    font-size: 23px;
    font-family: Quicksand; 
}

.cardDiv p {
    font-size: 17px;
    padding-top: 5px;
    /* color: #424242; */
    color: #212121;
    height: 200px;
    font-family: Quicksand;  
    line-height: 1.7em;

}

/* .cardDiv .content-paragraph::before{
    position: absolute;
    content: "...";
    right: 0;
    bottom: 0;
} */

.cardDiv .cardActionArea,
.MuiCardContent-root-96 {
    height: 200px;
}

/* .cardDiv .cardActionArea,
.MuiCardContent-root-96::before{
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
} */

.cardButtonArea button, a {
    color: rgba(0,0,0,.54);
}

.cardButtonArea button:hover, .cardButtonArea a:hover {
    background-color: white;
    color: rgb(255,94,28);
    text-decoration: none;
}

.MuiCardActionArea-root-91 {
    width: 100%;
}

.postMainDiv {
    width: 70%;
    margin: auto;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 720px) {
    .cardDiv{
        width: 100%;
    }
}

@media (max-width: 769px){

}

@media (min-width: 721px) {
    .cardDiv{
        width: 40%;
        margin-left: 6.5%;
    }
}