.cardDiv {
    margin-bottom: 5vh;
    height: 450px;
    padding: 5px;
}

.content-area {
    width: 100%;
    height: 128px;
    padding-bottom: 20px;
}

.content-area .blog-display{
    text-decoration: none;
}

.blog-userDate-display{
    padding: 0 24px 16px 24px;
    font-size: 12px;
    font-family: QuickSand;
    display: flex;
    justify-content: space-between;
    color: grey;
    font-weight: bold;
}

.cardDiv .MuiPaper-elevation1-67{
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.3),
                2px 5px 7px 2px rgba(0, 0, 0, 0.2)
}

.blog-userDate-display span {

}

.card-padding .cardHeader-title{
    padding-bottom: 2px;
}

.card-padding .cardHeader-title span {
    font-size: 17px;
    text-transform: capitalize;
}

.dialog-mainPage a {
  text-decoration: none;
}

.size-dialog-box{
    width: 450px;
    height: 50vh;
    position: relative;
}

.size-box {
    width: 70%;
    height: 361px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.9px;
}

.size-box  #alert-dialog-title h2{
    font-size: 30px;
    color: rgb(51, 51, 51);
    font-weight: bolder;
    margin-bottom: 40px
}
.dialog-p p{
    font-size: 18px;
}

.dialog-button a{
    font-size: 18px;
    color: rgb(255,94,28);
    letter-spacing: 0.9px;
    width: 100%;
} 

.dialog-button a:hover {
    color: white;
}
.dialog-button button:hover {
    background-color: rgb(255,133,37);
    color: white;
}

.dialog-button button{
    width: 70%;
    background-color: white;
    margin: auto;
    margin-bottom: 35px;  
    border: 1px solid rgb(255,94,28);
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 12px;
    font-family: Quicksand;  
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
